.gestorOrdenes {
  display: flex;
  justify-content: space-between; /* Espacio entre los grupos de acciones */
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px; /* Añadir un poco de padding */
  border-bottom: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
}

.left-actions, .right-actions {
  display: flex;
  align-items: center;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  text-decoration: none;
  color: #0d47a1;
  font-size: small;
}

.action-item:hover {
  color: #1e88e5; /* Cambia el color al pasar el ratón */
}

.action-icon {
  width: 20px; /* Ajusta el tamaño del icono */
  height: 20px;
  margin-bottom: 5px;
}
