.contenedor-billetes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 10px auto;
    padding: 50px auto;
    /* border: 5px solid #c0c0c0; */
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.buscador-productos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    width: 3rem;
    border: 3px solid #043e71;
    border-radius: 5px;
    text-align: center;
}