.contenedor-billetes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 10px auto;
    padding: 50px auto;
    /* border: 5px solid #c0c0c0; */
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.buscador-productos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.label {
    margin-top: 10px;
}