body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.error {
    background-color: #fc4040a1;
}

.disabled-row .MuiDataGrid-cell {
    background-color: #e0e0e0;
    /* Color de fondo para fila deshabilitada */
    pointer-events: none;
    /* Deshabilitar interacción */
    opacity: 0.5;
    /* Hacer más tenue */
}


.celdaEditable {
    background-color: #e3f2fd;
    /* Fondo azul claro */
    border: 2px solid #1976d2;
    /* Borde azul oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cursor de mano */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transición suave */
}

.celdaEditable:hover {
    background-color: #bbdefb;
    /* Fondo más oscuro al pasar el ratón */
    transform: scale(1.05);
    /* Efecto de agrandamiento */
    border-color: #1565c0;
    /* Cambiar color del borde */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    /* Sombra más profunda */
}

#contenidoUsuarios,
#contenidoProveedores {
    display: flex;
    margin: auto;
    font-family: "Montserrat", sans-serif;
}

.header-wrap .MuiDataGrid-columnHeaderTitle {
    white-space: pre-line;
    /* Permite el salto de línea */
    word-wrap: break-word;
    /* Rompe las palabras si es necesario */
}

#titulo {
    display: flex;
    margin: auto;
    margin-left: 15%;
    font-family: "Montserrat", sans-serif;
}

.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    border-color: 2px solid #1565c0;
}

.DataG {
    margin: auto;
}

.container {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    font-weight: bold;
    width: calc(12 * 120px + 11 * 7.1px);
    /* 12 columnas de 120px + 11 gaps de 5px */
    height: calc(5 * 50px + 4 * 5px);
    /* 5 filas de 50px + 4 gaps de 5px */
    display: grid;
    grid-template-columns: repeat(12, 120px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    background-color: #f1f1f1;
}

::placeholder {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}

.MuiTextField-root>label {
    font-family: "Montserrat", sans-serif;
}

.react-datepicker {
    z-index: 1000;
    /* Asegúrate de que el calendario esté por encima de otros elementos */
}

.datepicker-custom {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border-color: #e0e0e0;
}

.datepicker-error {
    border-color: red;
}

.mi-swal {
    z-index: 2000 !important;
}

.row-kaizen-tomado {
  background-color: #f5f5f5 !important;
  color: #757575;
}

.swal-encima-modal {
  z-index: 20000 !important;
}