#contenidoUsuarios,
#contenidoProveedores {
    display: flex;
    padding-left: 17%;
}


.content {
    padding-top: 100px;
}

.cuerpo {
    margin: 10px auto;
    margin-left: 17%;
    width: 70%;

    outline: none;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 2rem;
}

#buscador {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    width: 120%;
    border-radius: 8px;
    border-color: blue;
}

#button-add-usuario {
    grid-column: 5/6;
    grid-row: 1/2;
    width: 70%;
    margin-left: 30%;
    color: white;
    background-color: blue;
    border-radius: 8px;
    border: none;
}